<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>
    </head>

    <body>
        {{>header}}

        <p><b>Now you should</b> Input the initial location..</p>
        <form id="sourceLocation" name="source" action="">
            <input id="getInputLocation" name="getInputLocation" type="text" placeholder="ex: Wroclaw">
            <button id="sourceLocationButton">Search</button>
        </form>
        <p id="message-1"></p>
        <br>

        <div id="destinationGroup" style="display: none">
            <h2>Now you can set the destination, it can be more than one :)</h2>
            <form id="destination" name="destination" action="">
                <input id="getInputDestination" name="getInputDestination" type="text" placeholder="ex: Plac Bema">
                <button id="destinationButton">Search</button>
            </form>
        </div>

        <button id="buttonRoute" style="display: none"><a href="/easyroute" target="_blank">Get Route</a></button>
        <p id="message-2"></p>

        <div id="resultRoute" style="display: none">
            <p id="resroute">
                <p>
        </div>

        <script src="/js/app.js"></script>
    </body>

</html>